@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #25405c;
    @apply flex flex-col h-screen;
  }

h1 {@apply space-y-4 text-4xl !important}
h2 {@apply space-y-2 text-2xl !important}
h3 {@apply space-y-1 text-xl !important}
h4 {@apply space-y-1 text-base !important}

.item {
    @apply mb-2;
/*     @apply border-l-2 border-black */
}

.o-modal__content {
 @apply rounded-md p-2
}

.icon-btn {
    @apply h-5 w-5 text-blue-500;
    @apply hover:cursor-pointer hover:text-blue-700;
}

.icon-btn:active {
    @apply transform scale-95
}

.item-title[contenteditable=true] {
    @apply outline-none ring ring-opacity-25 ring-blue-500 rounded;
}

.item-title[contenteditable=false] {
    @apply cursor-pointer;
}

.item-description[contenteditable=false] {
    @apply cursor-pointer;
}

.item-description[contenteditable=true] {
    @apply outline-none ring ring-opacity-25 ring-blue-500 rounded;
}

body { 
    min-height: 100vh;
    margin: 0;
}

.template-string {
    @apply ml-2;
}

textarea {
    @apply rounded-md pt-2 pl-2;
    @apply focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-blue-500;
}

.submit {
    @apply px-6 py-2.5 bg-blue-500 text-white font-bold text-base leading-tight uppercase rounded shadow-md;
    @apply hover:bg-blue-700 hover:shadow-lg;
    @apply focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0;
    @apply transition duration-150 ease-in-out;
}

.disabled-btn:disabled {
    @apply cursor-not-allowed bg-opacity-25 text-gray-400;
}

input[type=text] {
    @apply rounded pl-2;
    @apply focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-blue-500;
}
/* @media (min-width: 640px) {
    .w-fixed {
        flex: 0 1 230px;
        min-width: 230px;
    }
} */